######################
# Intellij
######################
.settings/
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
log/
target/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db